In [75]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [76]:
Data = pd.read_csv('Test data.csv')
Data

,t,Cell,Point,1,2,3,4,5,6,7,...,86,87,88,89,90,91,92,93,94,95
0,0.0,1.0,0.00000,142.3672,0.00000,129.3027,0.00000,143.8984,0.00000,128.37849,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,0.20105,141.7812,0.20105,129.2565,0.20105,142.4648,0.20105,126.98871,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,0.40211,145.0469,0.40211,128.9317,0.40211,146.9766,0.40211,127.38065,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,0.60316,148.2383,0.60316,128.6215,0.60316,148.6953,0.60316,127.06398,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,0.80421,151.9805,0.80421,128.1860,0.80421,152.9023,0.80421,125.83549,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,NaN,NaN,3.01579,154.4688,3.01579,147.3823,3.01579,159.6562,3.01579,149.48920,...,3.01579,131.6704,3.01579,133.1953,3.01579,131.3081,3.01579,129.0547,3.01579,129.0344
76,NaN,NaN,3.21684,148.1133,3.21684,143.7274,3.21684,150.0039,3.21684,144.80220,...,3.21684,134.0790,3.21684,135.2500,3.21684,133.3296,3.21684,130.9414,3.21684,130.7543
77,NaN,NaN,3.41789,141.6758,3.41789,140.2543,3.41789,141.2070,3.41789,139.03920,...,3.41789,136.9054,3.41789,138.2383,3.41789,135.9419,3.41789,133.4961,3.41789,134.1097
78,NaN,NaN,3.61895,136.8125,3.61895,136.6011,3.61895,138.5195,3.61895,135.74950,...,3.61895,140.7780,3.61895,141.0039,3.61895,139.3129,3.61895,137.6797,3.61895,136.4575
79,NaN,NaN,3.82000,134.6836,3.82000,132.8500,3.82000,135.6328,3.82000,132.23760,...,3.82000,142.5344,3.82000,144.5781,3.82000,141.8817,3.82000,140.1172,3.82000,139.2613

In [77]:
Data['t']=Data['t'].ffill()
Data['Cell']=Data['Cell'].ffill()
Data['Cell']=Data['Cell'].astype('int64')
Data = Data.set_index(['t','Cell','Point'])
Data.index.names

FrozenList(['t', 'Cell', 'Point'])

In [78]:
Data

                          1        2         3        4         5        6  \
t    Cell Point
0.0  1    0.00000  142.3672  0.00000  129.3027  0.00000  143.8984  0.00000
          0.20105  141.7812  0.20105  129.2565  0.20105  142.4648  0.20105
          0.40211  145.0469  0.40211  128.9317  0.40211  146.9766  0.40211
          0.60316  148.2383  0.60316  128.6215  0.60316  148.6953  0.60316
          0.80421  151.9805  0.80421  128.1860  0.80421  152.9023  0.80421
...                     ...      ...       ...      ...       ...      ...
20.0 2    3.01579  154.4688  3.01579  147.3823  3.01579  159.6562  3.01579
          3.21684  148.1133  3.21684  143.7274  3.21684  150.0039  3.21684
          3.41789  141.6758  3.41789  140.2543  3.41789  141.2070  3.41789
          3.61895  136.8125  3.61895  136.6011  3.61895  138.5195  3.61895
          3.82000  134.6836  3.82000  132.8500  3.82000  135.6328  3.82000

                           7        8         9       10  ...       86  \
t    Cell Point                                           ...
0.0  1    0.00000  128.37849  0.00000  140.8633  0.00000  ...      NaN
          0.20105  126.98871  0.20105  142.6094  0.20105  ...      NaN
          0.40211  127.38065  0.40211  144.7812  0.40211  ...      NaN
          0.60316  127.06398  0.60316  146.9102  0.60316  ...      NaN
          0.80421  125.83549  0.80421  149.0977  0.80421  ...      NaN
...                      ...      ...       ...      ...  ...      ...
20.0 2    3.01579  149.48920  3.01579  157.5273  3.01579  ...  3.01579
          3.21684  144.80220  3.21684  148.1367  3.21684  ...  3.21684
          3.41789  139.03920  3.41789  140.3047  3.41789  ...  3.41789
          3.61895  135.74950  3.61895  137.0039  3.61895  ...  3.61895
          3.82000  132.23760  3.82000  132.5352  3.82000  ...  3.82000

                         87       88        89       90        91       92  \
t    Cell Point
0.0  1    0.00000       NaN      NaN       NaN      NaN       NaN      NaN
          0.20105       NaN      NaN       NaN      NaN       NaN      NaN
          0.40211       NaN      NaN       NaN      NaN       NaN      NaN
          0.60316       NaN      NaN       NaN      NaN       NaN      NaN
          0.80421       NaN      NaN       NaN      NaN       NaN      NaN
...                     ...      ...       ...      ...       ...      ...
20.0 2    3.01579  131.6704  3.01579  133.1953  3.01579  131.3081  3.01579
          3.21684  134.0790  3.21684  135.2500  3.21684  133.3296  3.21684
          3.41789  136.9054  3.41789  138.2383  3.41789  135.9419  3.41789
          3.61895  140.7780  3.61895  141.0039  3.61895  139.3129  3.61895
          3.82000  142.5344  3.82000  144.5781  3.82000  141.8817  3.82000

                         93       94        95
t    Cell Point
0.0  1    0.00000       NaN      NaN       NaN
          0.20105       NaN      NaN       NaN
          0.40211       NaN      NaN       NaN
          0.60316       NaN      NaN       NaN
          0.80421       NaN      NaN       NaN
...                     ...      ...       ...
20.0 2    3.01579  129.0547  3.01579  129.0344
          3.21684  130.9414  3.21684  130.7543
          3.41789  133.4961  3.41789  134.1097
          3.61895  137.6797  3.61895  136.4575
          3.82000  140.1172  3.82000  139.2613

[80 rows x 95 columns]

In [79]:
timescale = len(Data.groupby(level=0))
cellnum = len(Data.groupby(level=1))
posnum = len(Data.groupby(level=2))

In [80]:
def flatten(t):
    return [item for sublist in t for item in sublist]

In [81]:
# number of columns
num_columns = (len(Data.columns)) - 3
num_columns
max_intense_list = []
z_intense_list = []
datalist = [] 
# for loop to iterate over time
# for loop to iterate over cells
# for loop to iterate data
for t,new_df in Data.groupby(level=[0,1]):
    differences = new_df.diff(periods = -2, axis = 1)
    max_intensity = differences.max().max()
    max_intense_list.append(max_intensity)
    filter = (differences == max_intensity).any()
    z_intense = differences.loc[: , filter]
    z_intense = z_intense.loc[differences.isin([max_intensity]).any(axis=1)]
    z_intense.reset_index(inplace=True)
    z_intense = flatten(z_intense.to_numpy('float').tolist())
    print(max_intensity)
    print(z_intense)
    datalist.append(z_intense)

41.35270000000001
[0.0, 1.0, 1.60842, 41.35270000000001]
55.147999999999996
[0.0, 2.0, 1.80947, 55.147999999999996]
55.147999999999996
[20.0, 1.0, 1.80947, 55.147999999999996]
55.147999999999996
[20.0, 2.0, 1.80947, 55.147999999999996]

In [82]:
Processed_Data = pd.DataFrame(datalist,columns=['Time','Cell','Point','Max Intensity'])
Processed_Data

   Time  Cell    Point  Max Intensity
0   0.0   1.0  1.60842        41.3527
1   0.0   2.0  1.80947        55.1480
2  20.0   1.0  1.80947        55.1480
3  20.0   2.0  1.80947        55.1480